asn1crypto==0.24.0
attrs==21.2.0
bcrypt==3.2.2
behave==1.2.6
certifi==2018.1.18
cffi==1.15.1
chardet==3.0.4
click==8.0.1
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==2.1.4
cycler
dataclasses
dnspython
email-validator
Flask
Flask-Bcrypt
flask-behind-proxy
flask-sock
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn==20.0.4
h11
helium
hubspot-api-client
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
keyring
keyrings.alt
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
mysqlclient
netifaces
numpy
packaging
pandas
parse
parse-type
Pillow
pluggy
protobuf
py
pycodestyle
pycparser
pycrypto
PyGObject
pyparsing
pytest
python-apt
python-dateutil
pytz
pyxdg
PyYAML
requests
scipy
SecretStorage
selenium
simple-websocket
six
SpeechRecognition
SQLAlchemy
ssh-import-id
toml==0.10.2
Turbo-Flask==0.6.0
typing-extensions==3.10.0.0
ubuntu-advantage-tools==27.9
unattended-upgrades==0.1
urllib3==1.22
webdriver-manager==3.4.2
Werkzeug==2.0.1
wsproto==1.0.0
WTForms==2.3.3
zipp==3.4.1
