{% extends "layout_for_after_login.html" %}
{% block scripts %}
<script>
    function filter() {
        const keyword = document.getElementById("in").value.toLowerCase().trim();
        const output = document.getElementById("out");
        //const data = document.getElementById("all_data").innerHTML.replaceAll('\'', '').replaceAll('[',"").replaceAll(']',"").split(',');
        output.value = null;

        for (let i = 0; i < output.options.length; i++) {
            let current = output.options[i].text.toLowerCase().trim();
            if (!current.includes(keyword)) {
                output.options[i].style.display = 'none';
                output.options[i].disabled = true; //Makes this program more effective on Safari (or at least ipad)
                output.options[i].hidden = true;
                /*Working on this- right now it keeps deleting down (type a then delete and then do b and it only 
                shows things with a and by) so I need to figure out how to reset choices at the beginning of the 
                function... but this is only an issue on mobile Safari so probably not super high priority
                output.remove(i); 
                i = i - 1;
                */
            } else {
                output.options[i].style.display = 'list-item';
                output.options[i].disabled = false;
                output.options[i].hidden = false;
            }
        }
        
    }
</script>
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Post a Review</h1>
        <h5 style="display:none" id="all_data">{{ choice_data }}</h5>
        <h5 id="current_data"></h5>
    </div>
    <div class="container row">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="../static/styles/images/user_img.svg"></img>
            <p style="padding-top:2vh; text-align:center;" id="username"><b>Random Name</b></p>
        </div>
        <div class="col-1"></div>
        <div class="col-8 content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.company.label(class="form-control-label") }}
                        {% if form.company.errors %}
                            {{ form.company(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.company.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.company(id="in", class="form-control form-control-lg", onkeyup="filter()", style="margin-bottom:0px; padding-bottom:0px; border-bottom:0px;") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.select(id="out", class="form-control form-control-lg", size="10", 
                            style="list-style-type:None; padding-top:0px; border-top:0px; margin-top:0px; height:30vh;", 
                            onchange="document.getElementById('in').value=document.getElementById('out').value") }}
                    </div>
                    <br />
                    <div class="form-group">
                        {{ form.text.label(class="form-control-label") }}
                        {% if form.text.errors %}
                            {{ form.text(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.text.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.text(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <br />
                    
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}