{% extends "layout_for_after_login.html" %}
{% block title %}
<title>Post a Review - WeView</title>
{% endblock %}
{% block back_button %}
<li class="nav-item">
    <a class="nav-link" href="/reviews"><i class="fa-solid fa-angles-left"></i></a>
</li>
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="text-success">Post a Review</h1>
        <h5 style="display:none" id="all_data">{{ choice_data }}</h5>
        <h5 id="current_data"></h5>
    </div>
    <div class="container row">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="../static/styles/images/user_img.svg"></img>
            <p style="padding-top:2vh; text-align:center;" id="username"><b>Random Name</b></p>
        </div>
        <div class="col-1"></div>
        <div class="col-8 content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.company.label(class="form-control-label") }}
                        {% if form.company.errors %}
                            {{ form.company(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.company.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.company(id="in", class="form-control form-control-lg", onkeyup="filter()", style="margin-bottom:0px; padding-bottom:0px; border-bottom:0px;") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.select(id="out", class="form-control form-control-lg", size="10", 
                            style="list-style-type:None; padding-top:0px; border-top:0px; margin-top:0px; height:30vh;", 
                            onchange="document.getElementById('in').value=document.getElementById('out').value") }}
                    </div>
                    <br />
                    <div class="form-group">
                        {{ form.text.label(class="form-control-label") }}
                        {% if form.text.errors %}
                            {{ form.text(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.text.errors%}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.text(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <br />
                    
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-success") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock content %}