{% extends "layout_for_after_login.html" %}
{% block title %}
<title>{{ review.title }} - WeView</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="static/styles/images/small_logo.png" alt="logo" width="80px" height="30px" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</div>
</nav>
{% endblock %}
{% block content %}
<div class="row" style="margin-top:5vh">
    <div class="col"></div>
    <div class="col-9">
        <div class="jumbotron text-center bg-white" style="border:2px solid green">
            <div class="row">
                <div class="col"></div>
                <div class="col-9">
                    <h1>{{ review.title }}</h1>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-9">
                    <h4>Job Position: {{ review.job_title }}
                </div>
                <div class="col"></div>
            </div>
            <div class="row" style="padding-top:5vh">
                <div class="col"></div>
                <div class="col-9">
                    <p>{{ review.response }}</p>
                </div>
                <div class="col"></div>
            </div>
        </div>  
    </div>
    <div class="col"></div>
</div>
{% endblock %}