{% extends "layout_for_after_login.html" %}
{% block title %}
<title>{{ review['title'] }} - WeView</title>
{% endblock %}
{% block back_button %}
<li class="nav-item">
    <a class="nav-link" href="/reviews"><i class="fa-solid fa-angles-left"></i></a>
</li>
{%endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>{{ review['title'] }}</h1>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 jumbotron"">
                <p>{{ review['body'] }}</p>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}