{% extends "layout_for_after_login.html" %}
{% block title %}
<title>Reviews</title>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="static/styles/images/small_logo.png" alt="logo" width="80px" height="30px" class="d-inline-block align-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/logout">Sign Out</a>
                        <a class="dropdown-item" href="">Profile</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <b><a class="nav-link text-success" href="/post">Post a Review</a></b>
            </li>
        </ul>
        
    </div>
</div>
</nav>
{% endblock %}g
{% block content %}
    <div class="jumbotron text-center my-auto">
        <div class="row align-items-center">
            <div class="col-4">
                <img src="{{ img_url }}" alt="{{ title }} logo url: {{ img_url }}" style="mix-blend-mode:multiply; max-height:100vh; max-width:15vw"></img>
            </div>
            <div class="col-4"><h1 class="display-light">{{ title }}</h1></div>
            <div class="col-4"></div>
        </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-11 jumbotron bg-light">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        {{ form.company.label(class="form-control-label") }}
                        <div style="border:1px solid ; border-radius:5px;" class="text-success">
                        <div class="form-group" style="padding-bottom:0px; margin-bottom:0px;">
                            {% if form.company.errors %}
                                {{ form.company(class="form-control form-control-lg is-invalid", placeholder="Type in name of company and select below") }}
                                <div class="invalid-feedback">
                                    {% for error in form.company.errors%}
                                        <span>{{error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.company(id="in", class="form-control form-control-lg", onkeyup="filter()", placeholder="Type in name of company and select below", style="margin-bottom:0px; padding-bottom:0px; border-bottom:0px;") }}
                            {% endif %}
                        </div>
                        <div class="form-group" style="padding-bottom:0px; margin-bottom:0px;">
                            {{ form.select(id="out", class="form-control form-control-lg", 
                                style="list-style-type:None; padding-top:0px; border-top:0px; margin-top:0px;", 
                                onchange="document.getElementById('in').value=document.getElementById('out').value", onchange="form.submit()") }}
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        {% for data in reviews %}
            <div class="row h-100">
                <div class="col my-3"></div>
                    <div class="col-8 bg-light shadow p-3 mb-5 border border-light">
                        <b>
                            <h4>
                                <a href="/read?id={{data.id}}" class="text-success">
                                    {{data.title}}
                                </a>
                            </h4>
                        </b>
                        <p style="text-align:left">Company: {{data.company_id}}</p>
                        <p style="text-align:right">Job Title: {{data.job_title}}</p>
                    </div>
                <div class="col"></div>
            </div>
        {% endfor %}
    </div>
    <!--FOOTER-->
<footer class="container">
      <p>
          &copy; 2022 WeView Inc. &#183;
          <a href="https://linktr.ee/weviewteam" target="_blank">Connect</a>
      </p>
  </footer>
{% endblock %}